.newCategory__form {
    width: 300px;
    min-height: 330px;
    margin: 3rem auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    background: #eee;
    box-shadow: 1px 2px 3px #c3c3c3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.newCategory__title {
    margin: 0;
    text-transform: uppercase;
}

.newCategory__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.newCategory__input {
    width: 150px;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
}

.newCategory__submitButton {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: gray;
    color: white;
    box-shadow: 1px 2px 3px #c3c3c3;
}

.newCategory__submitButton:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

.newCategory__submitButton:active {
    transform: translateY(2px);
    box-shadow: none;
}